<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <main id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBarStyles"></div>
        </div>
        <h3 class="potions-amount-info">
          <img
            src="https://img.icons8.com/?size=100&id=f8gzduXnavCH&format=png&color=000000"
            alt="Icon"
            class="potion-icon"
          />
          <span>Left potions: {{ potionsAmount }}</span>
        </h3>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner === 'player'">You won!</h3>
        <h3 v-else-if="winner === 'monster'">You lost!</h3>
        <h3 v-else>It's a draw!</h3>
        <button @click="startGame">Start New Game</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button
          :disabled="isSpecialAttackDisabled"
          @click="specialAttackMonster"
        >
          SPECIAL ATTACK
        </button>
        <button :disabled="isHealingDisabled" @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logsList" :key="log.id">
            <span v-if="log.isRoundLog" class="log--round">
              {{ log.message }}
            </span>
            <span v-else-if="log.isOutcomeLog" class="log--outcome">
              {{ log.message }}
            </span>
            <template v-else>
              <span
                :class="{'log--player': log.actionBy === 'player', 'log--monster': log.actionBy === 'monster'}"
              >
                {{ log.actionBy === 'player' ? 'Player' : 'Monster' }}
              </span>
              <span v-if="log.actionType === 'heal'">
                heals himself for
                <span class="log--heal">{{ log.actionValue }}</span>
                health points! <span>Player health: {{ log.healthInfo }}</span>
              </span>
              <span v-else-if="log.actionType === 'attack'">
                attacks and deals
                <span class="log--damage">{{ log.actionValue }}</span> damage!
                <span>
                  {{log.actionBy === 'player' ? 'Monster' : 'Player' }} health:
                </span>
                <span>{{ log.healthInfo }}</span>
              </span>
              <span v-else>
                performs special attack and deals
                <span class="log--special-damage"> {{ log.actionValue }} </span>
                damage!
                <span>
                  {{log.actionBy === 'player' ? 'Monster' : 'Player' }} health:
                </span>
                <span>{{ log.healthInfo }}</span>
              </span>
            </template>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <a
        href="https://github.com/Shist/vue-monster-slayer-game"
        target="_blank"
      >
        This project on GitHub
      </a>
      <span>Created by Shist</span>
    </footer>
  </body>
</html>
